/**
 * Logs area geometry
 */
#logs, #logs li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#logs li {
	position: relative;
	padding: 1em;
	text-shadow: 0 0 3px #000;
}
#logs li:before {
	display: block;
	position: absolute;
	content: '\25b6';
}
#logs li.active:before {
	content: '\25bc';
}

#logs h4 {
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
}

#logs li .meta {
	display: none;
}
#logs li.active .meta {
	display: block;
}

#logs li .meta-actions {}
#logs li .meta-actions a[href="#kill"] {
	position: absolute;
	top: 1em;
	right: 2em;
}

#logs-wrapper input,
#logs-wrapper textarea {
	width: 98%;
	padding: .2em;
}
#logs-wrapper .meta-item {
	padding-top: 1em;
}

#logs-wrapper #target {
	padding: 1em;
}
#logs-wrapper #target .action {
	display: inline-block;
}
#logs-wrapper #target .action.save {
	float: right;
}
#logs-wrapper #target .action.cancel {
	float: left;
}
