/**
 * Out area geometry
 */
 #out {
 	height: 96vh;
	min-height: 3vh
	padding-top: 0;
 	overflow-y: scroll;
 }
 #out [data-id] {
	 display: none;

	 padding: .5em;
 }
 #out .active {
	 display: block;
 }
 #out pre {
	 padding: .5em;
 }
