/**
 * Color information
 */
body {
	background: #5a5a5a;
	color: #eee;
}
#logs li {
	border: 1px solid #eee;
	border-right: none;
}
#logs .active {
	border: none;
	background: #333;
}
#out {
	background: #333;
}
#out pre {
	border-bottom: 1px solid #404040;
}
