/**
 * Color information
 */
body {
	background: #5a5a5a;
	color: #eee;
	font-family: sans-serif;
	font-size: 12px;
}

#logs .active {
	border: none;
	background: #333;
}
#logs a {
	color: #eee;
	text-decoration: none;
}
#logs-wrapper input,
#logs-wrapper textarea {
	color: #ccc;
	background: #333;
	border: 1px solid #666;
}

#out {
	background: #333;
}
#out pre {
	border-bottom: 1px solid #404040;
}
